:root {
  body,
  html {
    font-size: 14px;
    font-family: 'system-ui', 'Poppins', sans-serif;
  }

  --cp-size-heading-1: 1.802rem;
  --cp-size-heading-2: 1.602rem;
  --cp-size-heading-3: 1.424rem;
  --cp-size-heading-4: 1.266rem;
  --cp-size-heading-5: 1.125rem;
  --cp-size-regular: 1rem;
  --cp-size-small: 0.889rem;
  --cp-size-tiny: 0.75rem;

  --cp-size-14: 3rem;
  --cp-size-13: 2.75rem;
  --cp-size-12: 2.5rem;
  --cp-size-11: 2.25rem;
  --cp-size-10: 2rem;
  --cp-size-9: 1.802rem;
  --cp-size-8: 1.602rem;
  --cp-size-7: 1.424rem;
  --cp-size-6: 1.266rem;
  --cp-size-5: 1.125rem;
  --cp-size-4: 1rem;
  --cp-size-3: 0.889rem;
  --cp-size-2: 0.75rem;
  --cp-size-1: 0.65rem;
  --cp-size-0: 0.5rem;

  --cp-radius-small: 0.25rem;

  --cp-color-white: rgb(255 255 255);
  --cp-color-blue-50: rgb(247 249 255);
  --cp-color-blue-100: rgb(229 236 254);
  --cp-color-blue-200: rgb(209 222 253);
  --cp-color-blue-300: rgb(187 207 252);
  --cp-color-blue-400: rgb(157 185 251);
  --cp-color-blue-500: rgb(118 158 249);
  --cp-color-blue-600: rgb(73 126 247);
  --cp-color-blue-700: rgb(29 95 245);
  --cp-color-blue-800: rgb(0 70 229);
  --cp-color-blue-900: rgb(0 50 165);
  --cp-color-blue-950: rgb(0 31 104);
  --cp-color-gray-0: #cdd9e5;
  --cp-color-gray-100: #adbac7;
  --cp-color-gray-200: #909dab;
  --cp-color-gray-300: #768390;
  --cp-color-gray-400: #636e7b;
  --cp-color-gray-500: #545d68;
  --cp-color-gray-600: #444c56;
  --cp-color-gray-700: #373e47;
  --cp-color-gray-800: #2d333b;
  --cp-color-gray-900: #22272e;
  --cp-color-red-50: rgb(255 248 248);
  --cp-color-red-100: rgb(254 231 231);
  --cp-color-red-200: rgb(253 213 213);
  --cp-color-red-300: rgb(251 192 192);
  --cp-color-red-400: rgb(250 163 163);
  --cp-color-red-500: rgb(247 121 121);
  --cp-color-red-600: rgb(244 62 62);
  --cp-color-red-700: rgb(214 23 23);
  --cp-color-red-800: rgb(178 19 19);
  --cp-color-red-900: rgb(129 14 14);
  --cp-color-red-950: rgb(82 9 9);
}
